.loader{
    width: 100%;
    height: 100%;
    /*
        top:0;
        left:0;
        left:0;
        left:0;
    */
    position:fixed;
    z-index: 9999;
    background-image: linear-gradient(rgba($color: var(--gradient-1), $alpha: 1), rgba($color: var(--gradient-2), $alpha: 1));

    .loader-inner{
    /*    background: #CCC;*/
        position: absolute;
        top: 50%;
        left: 50%-2%;
        transform: translate(-50%,-50%);
        .block{
            width: 12px;
            height: 12px;
            background: #FFF;
            border-radius: 100%;
            position: absolute;
            opacity: 0;
            animation: load 4.6s ease-in-out infinite;
        }

        #block-1{
            top: 0;
            left: 0;
            animation-delay: 1.06s;
        }
        #block-2{
            top: 0;
            left: 16px;
            animation-delay: .98s;
        }
        #block-3{
            top: 0;
            left: 32px;
            animation-delay: .90s;
        }
        #block-4{
            top: 0;
            left: 48px;
            animation-delay: .82s;
        }
        #block-5{
            top: 16px;
            left: 0;
            animation-delay: .74s;
        }
        #block-6{
            top: 16px;
            left: 16px;
            animation-delay: .66s;
        }
        #block-7{
            top: 16px;
            left: 32px;
            animation-delay: .58s;
        }
        #block-8{
            top: 16px;
            left: 48px;
            animation-delay: .50s;
        }
        #block-9{
            top: 32px;
            left: 0;
            animation-delay: .42s;
        }
        #block-10{
            top: 32px;
            left: 16px;
            animation-delay: .34s;
        }
        #block-11{
            top: 32px;
            left: 32px;
            animation-delay: .26s;
        }
        #block-12{
            top: 32px;
            left: 48px;
            animation-delay: .18s;
        }
        #block-13{
            top: 48px;
            left: 0;
            animation-delay: .10s;
        }
        #block-14{
            top: 48px;
            left: 16px;
            animation-delay: .02s;
        }
        #block-15{
            top: 48px;
            left: 32px;
            animation-delay: -0.06s;
        }
        #block-16{
            top: 48px;
            left: 48px;
            animation-delay: -0.14s;
        }
        
        @keyframes load{
            0%{
                opacity: 0;
                transform: translateY(-100px);
            }
            15%{
                opacity: 0;
                transform: translateY(-100px);
            }
            30%{
                opacity: 1;
                transform: translateY(0);
            }
            70%{
                opacity: 1;
                transform: translateY(0);
            }
            85%{
                opacity: 0;
                transform: translateY(100px);
            }
            100%{
                opacity: 0;
                transform: translateY(100px);
            }
        }
    }        
}

